*{
    color: brown;
}
    
    h1 {
    color: blue;
    background-color: aqua;
}
.chaman{
    color: blue;
}
#roti{
    color: blueviolet;
    background-color: white;
}
#tip{
    color: green;
    background-color: pink;
}
.fenu{
    color: bluegreen;
    background-color: aquamarine;
}
